@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.container {
    height: var(--viewport-height);
}

.left {
    width: 25vw;
    padding: 10px;
    transition: all .5s;
    position: relative;
    height: var(--viewport-height);
}

.right {
    width: 75vw;
    margin: 10px 0;
    margin-right: 10px;
    position: relative;
    max-height: var(--viewport-height);
    transition: all .5s;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
    font-size: 0.8rem;
}

.heading {
    display: flex;
    gap: 12px;
    width: 100%;
    padding: 15px;
    font-weight: bold;
    align-items: center;
    font-size: 0.7rem;
}
.cross{
    position: absolute;
    right: 18px;
    top: 15px;
    display: none;
}

.heading img {
    width: 30px;
}

.library {
    min-height: calc(var(--viewport-height) - 143px);
    position: relative;
    margin-top: 5px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 5px;
}

.footer a {
    color: grey;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    border-radius: 7px 7px 0 0;
}

.header>* {
    padding: 17px;
}
.icon-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.hamburger{
    display: none;
}

.spotify-playlist {
    padding: 7px 16px;
    max-height: 85vh;
    overflow-y: scroll;
}
.spotify-playlist > h1{
    font-size: 1.5rem;
}
.cardContainer {
    margin: 14px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.card {
    width: 13rem;
    padding: 15px;
    border-radius: 7px;
    background-color: rgb(23, 23, 23);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transition: all 0.4s ease;
}
.card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
}
.card-info>h2 {
    font-size: 1rem;
}

.card-info>p {
    font-size: 0.8rem;
    color: rgb(137, 137, 137);
    font-weight: 500;
}
.img{
    position: relative;
    max-height: calc(100% - 55px);
    padding: 1px;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 6px;
}
.card:hover{
    background-color: rgb(40, 39, 39);
    cursor: pointer;
}
.play{
    position: absolute;
    bottom: -35px;
    right: 16px;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(34,210,96);
    padding: 4px;
    opacity: 0;
    transition: all 0.4s ease-out;
}
.card:hover .play{
    opacity: 1;
    bottom: 10px;
}

.buttons > *{
    margin: 0 12px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.signupbtn{
    background-color: rgb(34,34,34);
    color: grey;
}
.signupbtn:hover{
    font-size: 0.9rem;
    color: white;
}
.loginbtn{
    background-color: white;
    color: black;
    padding: 6px 13px;
    border-radius: 20px;
}
.loginbtn:hover{
    transform: scale(1.1);
    background-color: #f6f6f6;
}
.playbar{
    position: absolute;
    bottom: 0;
    left: 5px;
    width: 99%;
    background-color: rgba(34, 34, 34,0.6);
    padding: 12px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    min-height: 50px;
}
.songbtns{
    display: flex;
    justify-content: center;
    gap: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.songbtns img{
    cursor: pointer;
}
.time-vol{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.volume img{
    cursor: pointer;
}
#range{
    height: 5px;
    width: 70px;
    display: none;
    cursor: pointer;
}
.volume:hover #range{
    display: block;
}
.song-list{
    height: calc(calc(var(--viewport-height) - 143px) - 133px);
    overflow: auto;
}
.song-list ul{
    padding: 0 2px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.song-list li{
    list-style-type: decimal;
    font-size: 0.8rem;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 7px 3px;
    border: 1px solid white;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.info div{
    font-size: 0.5rem;
    max-width:calc(25vw - 155px);
    word-break: break-all;
}
.play-now{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    position: absolute;
    right: 4px;
}
.play-now span{
    font-size: 0.5rem;
    width: max-content;
}
#seekbar{
    appearance: none;
    position: absolute;
    bottom: 3px;
    left: 10px;
    width: calc(100% - 20px);
    height: 3px;
    background: rgb(128, 128, 128);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#seekbar::-webkit-slider-thumb {
    appearance: none;
    border: none;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #f50;
    cursor: pointer;
    transition: .2s ease-in-out;
    border: none;
}
#seekbar::-webkit-slider-thumb:hover {
    transform: scale(1.3);
    box-shadow: 0 0 0 6px rgba(255,85,0, .1);
}
#seekbar:hover{
    background: rgb(159, 157, 157);
}
#seekbar:active{
    background: rgb(71, 71, 71);
}

.song-info, .song-time{
    font-size: 0.6rem;
    padding: 5px 12px;
}
.song-info{
    width: calc(40vw - 38px);
}

/* Responsive Media styling  */

@media (980px < width< 1100px){
    .song-list{height: 44vh;}
}
@media (width< 980px) {
    .left{
        position: absolute;
        left: -100%;
        z-index: 1;
        width: 70%;
    }
    .right{
        width: 100vw;
        margin: 5px;
    }
    .hamburger{
        display: block;
    }
    .cross{display: block;}
    #seekbar{
        bottom: 6px;
    }
    .info div{
        max-width: calc(70vw - 157px);
    }
}
@media (width< 520px) {
    .song-info,.song-time{
        padding: 4px 7px;
    }
    .info div{font-size: 0.4rem;}
    .songbtns{
        position: unset;
        transform: none;
    }
    .playbar{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 13px;
    }
    .song-info{
        width: 100%;
        text-align: center;
    }
    .time-vol{
        margin-bottom: 15px;
    }
    .card{
        width: 19rem;
    }
    #range{
        display: block;
    }
}